.contacts {
    display: none;
  
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 16px;

        &__link {
            display: flex;
            align-items: center;
        }
    }

    @media (min-width: 1440px) {
        display: none;
    }
}