$color-text: #1B1C21;

.devices {

    &__link {
        height: 160px;
        padding: 16px;
    
    
        &-text {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $color-text;
            align-self: start;
        }
    }
  
    &__item{
        align-self: flex-end;
    }

    @media (min-width: 768px) {
        &__container {
            display: flex;
            flex-direction: column;
            padding: 0 24px;
            gap: 24px;
        }
    }
    @media (min-width: 1440px) {
        &__container {
            padding: 0 32px;
        }
    }
}